.helpfulCounterContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.iconContainers {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.countContainer {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbsUp {
  color: green;
  cursor: pointer;
}

.thumbsDown {
  color: red;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .iconContainers {
    width: 8%;
  }
}

@media only screen and (max-width: 600px) {
  .iconContainers {
    width: 12%;
  }
}