.link {
  width: 12rem;
  text-decoration: none;
}

.button,
.large,
.resetButton {
  width: 12rem;
  padding: 0.25em;
  height: 2.5rem;
  min-height: 40px;
  cursor: pointer;
  font-size: 1rem;
  border: 3px solid #262626;
  border-radius: 1rem;
  /* background: #EDEDED; */
  background: white;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25em 0;
  transition: all 0.4s ease-in-out;
}

.resetButton {
  border: 1px solid red;
}

.large {
  font-size: 1.2rem;
  border: 2px solid #3D50C1;
  width: auto;
  border-radius: 20px;
  height: 3.3rem;
}

.button:hover,
.large:hover {
  background: #3D50C1;
  color: white;
}

.resetButton:hover {
  background: red;
  color: white;
}

.admonishOKButton {
  min-width: 6rem;
  max-width: 9rem;
  height: 3rem;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #262626;
  border-radius: 1rem;
  background: rgb(117, 116, 116);
  color: #262626;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

@media only screen and (max-width: 500px) {
  .large {
    height: 1.5rem;
  }
}