.link {
  width: 12rem;
  text-decoration: none;

}

.button,
.resetButton {
  width: 12rem;
  padding: 0.25em;
  height: 2.5rem;
  min-height: 40px;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #262626;
  border-radius: 6rem;
  background: white;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25em 0;
}

.resetButton {
  border: 1px solid red;
}

.admonishOKButton {
  min-width: 6rem;
  max-width: 9rem;
  height: 3rem;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #262626;
  border-radius: 6rem;
  background: rgb(117, 116, 116);
  color: #262626;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}