.articleContainer {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  counter-reset: heading-counter;
}

.tocContainer {
  width: 90%;
  margin-top: 3rem;
}

.tocHeader {
  width: 90%;
  margin: 0.5rem auto;
}

.toc {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tocItem {
  width: 50%;
}

.homeIcon {
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 3rem 0;
  min-height: 75vh;
  z-index: 2;
  color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  overflow: hidden;
  z-index: 2;
  text-align: center;
}

.headerTextContainer > h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 7rem;
  line-height: 105%;
  margin: 0;
}

.hidden {
  display: none;
}

.socialIconsDesktop {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50vh;
  left: 1rem;
}

.socialIconsMobile {
  display: none;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.articleBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  min-height: 40vh;
  margin: 0 auto;
}

.bodyContainer {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  justify-content: center;
}

.suggestionHeader,
.subSuggestionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 8rem;
  font-size: 2.9rem;
  margin: 2rem 0;
}

.subSuggestionHeader {
  display: flex;
  align-items: center;
  min-height: auto;
  margin: 0;
  line-height: 105%;
  margin-top: 1rem;
}

.subHeaderText {
  font-size: 1.6rem;
}

.subHeaderText > h3 > a:visited {
  color: black;
}

.suggestionHeader > h1,
.suggestionHeader > h2,
.suggestionHeader > h3,
.suggestionHeader > a,
.subSuggestionHeader > h1,
.subSuggestionHeader > h2,
.subSuggestionHeader > h3,
.subSuggestionHeader > a {
  padding: 0;
  margin: 0;
  font-size: 4.3rem;
  line-height: 105%;
  margin-bottom: 1rem;
  color: black;
}

.subSuggestionHeader > h1,
.subSuggestionHeader > h2,
.subSuggestionHeader > a  {
  font-size: 2rem;
}

.subSuggestionHeader > h2 {
  margin-top: 5rem;
}

.content > ul >  li,
.recipeIngredients > ul > li,
.list > ul > li {
  /* margin-left: 3rem; */
  list-style: none;
}

.list > ul {
  padding: 0;
  margin: 0;
}


.content > ul >  li::before,
.recipeIngredients > ul > li::before,
.list > ul > li::before {
  content: "◦";
  color: #FA4D56;
  display: inline-block;
  margin-right: 0.2rem;
}

.list > ul > li {
  margin: 1.5rem 0;
}


.suggestionHeader > h2 > a:visited,
.suggestionHeader > h2 > a {
  color: black;
  text-decoration: none;
}

.suggestionHeader > h2 > a:hover {
  text-decoration: underline;
}

.introHeader {
  font-size: 4.2rem;
}

.blob, .subBlob, .h3Blob, .listHeaderBlob {
  position: absolute;
  width: 20rem;
  top: -7rem;
  left: -7rem;
  z-index: -1;
}

.subBlob {
  width: 7rem;
  top: 3rem;
  left: -3rem;
}

.subSuggestionHeader > h1,
.subSuggestionHeader > h2,
.subSuggestionHeader > h3,
.subSuggestionHeader > a  {
  font-size: 2rem;
}

.h3Blob {
  width: 7rem;
  top: 0;
  left: -2rem;
}

.itemContents {
  width: 70%;
  margin: 0 auto;
  font-size: 1.15rem;
}

.content {
  font-family: 'Quicksand', sans-serif;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem 0;
  font-size: 1.4rem;
}

.content > p,
.content > li {
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}

.content > p {
  margin: 1.3rem 0;
}

.content > h3,
.content > h4,
.content > h5 {
  /* text-decoration: underline; */
  margin: 1rem 0;
}
.content > h3 {
  margin-top: 7rem;
  font-size: 1.8rem;
}

.content > ul {
  margin: 0
}

.content > ul > li {
  margin: 1.5rem 0;
}

.content > ul > li > h5 {
  margin: 0;
}

.iframe {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.subHeader {
  position: relative;
  margin: 1rem 0;
}

.subHeader > h3 {
  margin: 0;
  margin-top: 5rem;
}

.border {
  border: 1px solid black;
  width: 10%;
}

.imageContainer {
  width: 100%;
  min-height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  min-width: 40%;
  max-width: 80%;
  margin: 3rem 0;
}

.recipeContainer {
  counter-reset: step-ctr;
  margin: 1rem 0;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipeHeader,
.listHeader {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
}

.listHeaderBlob {
  width: 7rem;
  top: -2rem;
  left: -2rem;
}

.listHeader > h4,
.listHeader > h3,
.list > ul > li {
  padding: 0;
  margin: 0;
}

.underline {
  width: 50%;
  border: 1px solid #FA4D56;
}

.subContainer {
  margin-bottom: 2rem;
}

.recipeIngredients,
.listContainer {
  list-style: none;
  margin: 2rem 0;
}

.recipeInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 4rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.infoLabel {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 1rem;
}

.info {
  color: #FA4D56;
}

.recipeDirectionsList li {
  position: relative;
  margin: 0 0 .75rem 0.5rem;
  padding: 0;
}

.recipeStep {
  list-style: none;
}

.recipeStep::before {
  counter-increment: step-ctr;
  content: counter(step-ctr);
  font-family: Georgia,Times New Roman,Times,serif;
  font-weight: 700;
  width: 2rem;
  border-right: .2rem solid #FA4D56;
  padding-right: 0.55rem;
  margin-right: 0.85rem;
}


@media only screen and (max-width: 1200px) {
  .content {
    width: 90%;
    padding: 0;
  }
}


@media only screen and (max-width: 1000px) {
  /* .suggestionHeader > .blob {
    left: -7rem;
    top: -7rem;
  } */

  .content > p,
  .content > li {
    padding: 0;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .socialIconsDesktop {
    display: none;
  }

  .socialIconsMobile{
    display: flex;
  }
  .articleBody {
    width: 80%;
  }

  .headerTextContainer { 
    width: 100vw;
  }

  .image {
    min-width: 60%;
  }

  .itemContents {
    width: 100%;
    font-size: 1.;
  }
}