.articleContainer {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 75vh;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}

.headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  min-height: 75vh;
  overflow: hidden;
  color: white;
  font-size: 8rem;
  z-index: 2;
  text-align: center;
}

.hidden {
  display: none;
}

.articleBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  min-height: 40vh;
  margin: 0 auto;
}

.bodyContainer {
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0;
  justify-content: center;
}

.suggestionHeader {
  position: relative;
  font-size: 2.9rem;
  padding: 0 1rem;
}

.suggestionHeader > h1,
.suggestionHeader > h2,
.suggestionHeader > a {
  padding: 0;
  margin: 0;
  font-size: 4.3rem;
  line-height: 4.5rem;
  color: black;
}

.content > ul >  li {
  margin-left: 3rem;
}

.suggestionHeader > h2 > a:visited,
.suggestionHeader > h2 > a {
  color: black;
  text-decoration: none;
}

.suggestionHeader > h2 > a:hover {
  text-decoration: underline;
}

.blob {
  position: absolute;
  width: 16rem;
  top: -4.5rem;
  left: -2.5rem;
  z-index: -1;
}

.itemContents {
}

.content {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem 0;
  font-size: 1.4rem;
}

.content > p,
.content > li {
  padding: 0 2rem;
  margin: 0.5rem 0;
}

.content > ul {
  margin: 0
}

.bodyContainer {

}

.iframe {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  min-width: 40%;
  max-width: 80%;
  margin: 3rem 0;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 90%;
    padding: 0;
  }
}


@media only screen and (max-width: 1000px) {
  .suggestionHeader > .blob {
    width: 20rem;
    left: 6rem;
  }

  .content > p,
  .content > li {
    padding: 0;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .image {
    min-width: 60%;
  }

  .suggestionHeader > .blob {
    left: 3rem;
  }
}