$color-blue: #00aeef;
$color-blue-dark: #0d2035;
$submenu-width: 180px;

.navBarContainer {
  width: 100%;
  height: 20vh;
  display: flex;
  background: $color-blue-dark;
}

.menu-primary-enter {
  transform: translateY(-100%);
  transition: .3s cubic-bezier(0, 1, 0.5, 1);

  &.menu-primary-enter-active {
    transform: translateY(0%);
  }
}

.menu-primary-exit {
  transform: translateY(0%);
  transition: .3s ease-in-out;

  &.menu-primary-exit-active {
    transform: translateY(-100%);
  }
}

.submenu-container {
  height: 450px; // this value can be higher, but needs to be set
  min-width: $submenu-width;
  position: absolute;
  overflow: hidden;
  z-index: -1;  
}

.menu-container {
  text-align: center;
}

#dropDownList {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem auto 0;
  color: #fff;
  text-align: left;
  
  a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
  }
}
  
.nav__menu {
  line-height: 45px;
  font-weight: 700;
}
  
.nav__menu-item {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;

  &:hover {
    background-color: $color-blue;

    .nav__submenu {
      display: block;
    }
  }
}
    
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: $submenu-width;
  background-color: $color-blue;
}

.nav__menu-item:hover .submenu-container {
  z-index: 5;
}
    
.nav__submenu-item {
  &:hover {
    background: rgba(#000, 0.1);
  }
}
