.navBarContainer {
  width: 100vw;
  height: 25vh;
  display: flex;
  background: #0d2035;
}
.menu-primary-enter {
  transform: translateY(-100%);
  transition: 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.menu-primary-enter.menu-primary-enter-active {
  transform: translateY(0%);
}
.menu-primary-exit {
  transform: translateY(0%);
  transition: 0.3s ease-in-out;
}
.menu-primary-exit.menu-primary-exit-active {
  transform: translateY(-100%);
}
.submenu-container {
  height: 450px;
  min-width: 180px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.menu-container {
  text-align: center;
}
#dropDownList {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem auto 0;
  color: #fff;
  text-align: left;
}
.nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
}
.nav__menu {
  line-height: 45px;
  font-weight: 700;
}
.nav__menu-item {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
}
.nav__menu-item:hover {
  background-color: rgba(25, 110, 171, 0.9990371148459384);
}
.nav__menu-item:hover .nav__submenu {
  display: block;
}
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 180px;
  background-color: #00aeef;
  background-color: rgba(25, 110, 171, 0.9990371148459384);
}
.nav__menu-item:hover .submenu-container {
  z-index: 4;
}
.nav__submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.mobileNavWhite,
.mobileNavBlack {
  display: none;
  z-index: 6;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
}

.mobileNavBlack {
  color: black;
}

.bar1, .bar2, .bar3, .changeBar1,  .changeBar2,  .changeBar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 0.5rem 0;
  transition: 0.4s;
}

.changeBar1,  .changeBar2,  .changeBar3 {
  background-color: black;
  margin: 6px 0;
}

.changeBar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);
}

.changeBar2 {opacity: 0;}

.changeBar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px);
}

.navbarMenu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  background: white;
  z-index: 5;
}

@media only screen and (max-width: 800px) {
  .nav__menu {
    display: flex;
    flex-direction: column;
 }
  .nav {
    margin: 0;
 }
}

@media only screen and (max-width: 1100px) {
  .navBarContainer {
    justify-content: space-between;
  }
  .nav {
    display: none
  }

  .submenu-container {
    min-width: 0;
  }

  .menu,
  .navbarMenu {
    position: fixed;
    opacity: 1;
    display: flex;
  }

  .menuLink {
    font-size: 36px;
    cursor: pointer;
    margin: 20px 0;
  }

  .mobileNavWhite,
  .mobileNavBlack {
    display: inline-block;
    padding-top: 1.4rem;
  }

  .mobileNavBlack {
    position: fixed;
    right: 0;
    top: 0;
  }

}