.emailContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #021F38;
  font-family: 'Fjalla One', sans-serif;
}

.headerSection {
  width: 100%;
  min-height: 20vh;
}

.closeButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.closeButton {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.2rem;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmationTitle {
  color: white; 
  font-size: 2.8rem;
}

.title {
  color: #ffcc00;
}

.white {
  color: white;
}

.emailCTA {
  width: 60%;
  text-align: center;
}

.inputContainer {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.emailInput {
  width: 12rem;
  height: 2rem;
}

.emailBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.errors {
  font-size: 0.6rem;
  color: red;
}

.confirmationContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background: rgba(0,0,0,0.3);
}

.confirmationHeader {
  color: white;
  text-align: center;
}

.confirmation {
  font-size: 2rem;
  text-align: center;
  color: black;
}

.image {
  width: 60%;
}

.emailSignupContainer {
  font-family: 'Fjalla One', sans-serif;
  width: 100%;
  display: flex;
  justify-self: flex-end;
  padding-top: 1rem;
}

.emailSignupContainer > a {
  margin-left: auto;
}

.mobileSignup {
  display: none;
}

.signupButton {
  position: relative;
  width: 125px;
  height: 36px;
  margin: 0;
  width: 10rem;
  font-size: 1rem;
  padding: 0.25em;
  min-height: 40px;
  height: 2.5rem;
  margin: 0.25em 0;
  cursor: pointer;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-image: linear-gradient(#EC6192, #EC4C34, #FFBD2B, #EBDE56, #57C754, #53A1EB) 1;
} 

.button,
.rainbowContainer,
.signupText {
  position: relative;
  width: 200px;
  height: 36px;
  margin: 0;
  cursor: pointer;
}

.rainbowContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.signupText {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-weight: 500;
}

.rainbowSVGContainer,
.signupButton {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  shape-rendering: inherit;
  text-rendering: optimizeLegibility;
  shape-rendering: crispEdges;
}

.rainbowSVGContainer:hover,
.signupButton:hover {
  opacity: 0.5;
}

.emailSignupContainer > a {
  margin: 0 auto
}

@media only screen and (max-width: 700px) {
  .mobileSignup {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .button {
    display: none;
  }
}


@media only screen and (max-width: 700px) {
  .emailCTA {
    font-size: 2rem;
  }

  .inputContainer {
    width: 14rem;
  }

  .emailInput {
    font-size: 1.5rem;
    width: 16rem;
    height: 3.5rem;
  }

  .errors {
    font-size: 1rem;
  }

  .closeButton {
    font-size: 2rem;
  }
}
