.link, .link:hover, .link:visited {
	text-decoration: none;
	width: 60%;
	-webkit-backface-visibility: hidden;
	color: #EDEDED;
}

.headerContainer {
	line-height: 3.5rem;
	font-size: 4rem;
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
	padding-top: 2rem;
}

.lineContainer,
.com {
	width: 60%;
}

.flicker, .flickerFast, .flickerSlow {
	color: #ffcc00;
	animation: flicker 3s linear infinite;
}

.flickerSlow {
	animation-duration: 5s;
}

.flickerFast {
	animation-duration: 1s;
}

.com {
	line-height: 2.5rem;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
		text-shadow: -1px -1px 0 rgba(#fff, .4), 1px -1px 0 rgba(#fff, .4), -1px 1px 0 rgba(#fff, .4), 1px 1px 0 rgba(#fff, .4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
		text-shadow: none;
	}
}

@media only screen and (max-width: 500px) {
	.headerContainer {
		margin: 0;
		padding: 1.8rem 0;
	}

	.link, .link:hover,
	.lineContainer,
	.com {
		width: 100%;
	}
}