.overlay {
  z-index: 3;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: fixed;
  top: 50%;
  left: 50%;
}

.modalContainer {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 30rem;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 3;
  border-radius: 15px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
}

.contentContainer {
  min-height: 90%;
}

.topContainer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
}

.closeButton {
  color: #021F38;
  cursor: pointer;
  padding: 0.5rem;
}

@media only screen and (max-width: 700px) {
  .modalContainer {
    width: 25rem;
    height: 40rem;
  }
}