.headerContainer {
  font-size: 4.4rem;
  text-align: center;
  padding: 1rem;
}

.count {
  font-size: 0.9rem;
}

.contentContainer {
  width: 100%;
  display: flex;
  min-height: 50vh;
}

.activitiesContainer {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  padding: 3rem;
}
