.displayAllContainer {
  min-height: 100vh;
  width: 100%;
}

.headerContainer {
  /* display: flex; */
  align-items: center;
  flex-wrap: wrap;
  font-size: 4.4rem;
  padding-left: 3rem;
  margin-bottom: 3rem;
}

.highlightActivity {
  width: 100%;
}

.headerContainer > h2 {
  margin: 0;
  margin-right: 3rem;
}

.tag {
  width: 60%;
  font-size: 1rem;
  margin: 0;
}

.count {
  font-size: 0.9rem;
}

.contentContainer {
  width: 100%;
  display: flex;
  min-height: 50vh;
}

.activitiesContainer {
  width: 80%;
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  flex-wrap: wrap;
  padding: 2rem;
}

.noActivities {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 1.5rem;
}

.noActivitiesGif {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

@media only screen and (max-width: 900px) {
  .tag {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .activitiesContainer {
    justify-content: center;
  }

  .headerContainer {
    font-size: 3.3rem;
  }

  .tag {
    width: 80%;
  }
}
