.photoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.figcaption {
  font-size: 0.8rem;
  margin: 0 auto;
}

.photo, .enlargedPhoto {
  transition: all 1s ease-in;
  /* cursor: pointer; */
  margin: 0 auto;
}

.photo {
  width: 65%;
  border-radius: 0.3rem;
}

.enlargedPhoto {
  width: 65%;
}

@media only screen and (max-width: 500px) {
  .photo,
  .enlargedPhoto {
    width: 100%;
    max-width: 100%;
  }
}