.photo, .enlargedPhoto {
  transition: all 1s ease-in;
  cursor: pointer;
  margin: 0 auto;
}

.photo {
  width: 60%;
}

.enlargedPhoto {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .photo,
  .enlargedPhoto {
    width: 100%;
    max-width: 100%;
  }
}