.header {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.italic,
.italicAndBold {
  font-style: italic;
}

.bold,
.italicAndBold {
  font-weight: 600;
}

.quotation {
  text-indent: 5%;
  font-style: italic;
  font-size: 0.9rem;
  padding: 1rem 0;
}

.strikeThrough {
  text-decoration: line-through;
}

.centered {
  display: flex;
  align-items: center;
  width: 100%;
}

.iframe {
  width: 560px;
  height: 315px;
}

@media only screen and (max-width: 500px) {
  .iframe {
    width: 100%;
  }
}
