@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand&family=Fredoka+One&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #262626;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

input {
  font-family: 'Oswald', sans-serif;
}

a {
  color: #262626;
  text-decoration: underline;
}

a:visited {
  color: #8a8787
}

img {
  /* max-width: 70%; */
  /* border-radius: 10px; */
}

.hidden {
  display: none;
}

h2 {
  counter-increment: heading-counter;
}

h2::before {
  content: counter(heading-counter) ". ";
  color: #fff;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  html,
  body {
    font-size: 10px;
  }
}