@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Yanone+Kaffeesatz&display=swap');
.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 0.08rem;
  margin-bottom: 1.3rem;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingSm {
  font-size: 0.8rem;
  line-height: 1.5;
}

.headerContainer {
  background: #EDEDED;
  /* margin: 1rem 0 2rem 0; */
  position: sticky;
  top: 0;
  color: #262626;
  border-radius: 10px;
  padding: 1rem;
}

.underline {
  border-bottom: 2px solid #262626;
  /* border-bottom: 2px solid #EDEDED; */
  width: auto;
}

.postContainer {
  padding-bottom: 2rem;
}

.headerInfoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  margin: 0.3rem 0;
}

.infoIcon {
  margin-right: 8px;
}

.articleContainer {
  margin-top: 2rem;
  margin-bottom: 4rem;
  background: #EDEDED;
  /* background: #FAF8EB; */
  padding: 1.5rem;
  border-radius: 10px;
  color: #262626;
  height: 100%;
  overflow-y: scroll;
}

.article {
  padding-bottom: 3rem;
}

.content {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.3rem;
  padding-bottom: 2rem;
  /* text-transform: lowercase; */
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}

.bodyContainer {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.questions,
.mobileQuestions {
  min-height: 400px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.mobileQuestions {
  display: none;
}

.question {
  height: 30%;
  letter-spacing: 0.1em;
  font-size: 2rem;
}

.select {
  cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
	/* width: 10%; */
	max-width: 100%;
	box-sizing: border-box;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
	margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.select::-ms-expand {
	display: none;
}

.select:hover {
	border-color: #888;
}

.select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select option {
	font-weight:normal;
}

.option {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  font-size: 2rem;
  pointer-events: none;
  appearance: none;
  border: none;
  background: transparent;
}

.custom404 {
  font-size: 2rem;
  width: 70%;
}

@media only screen and (max-width: 500px) {
  .questions {
    display: none;
  }

  .mobileQuestions {
    display: flex;
    min-height: 500px;
    justify-content: space-around;
  }

  .headerContainer {
    padding: 0.6rem;
  }

  .bodyContainer {
    margin: 3rem 0;
  }

  .buttonContainer {
    justify-content: flex-end;
  }

  .question {
    font-size: 1.5rem;
  }

  .headingXl {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }

  .content {
    padding-bottom: 0.5rem;;
  }
}