@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Yanone+Kaffeesatz&display=swap');


.watchContentSection {
  display: flex;
  flex-direction: column;
}

.seasonsToWatch {

}

.iframeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.iframe {
  width: 560px;
  height: 315px;
  border-radius: 1rem;
}

.pageActivityTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  position: relative;
  text-align: center;
  font-size: 4rem;
  width: 80%;
  margin: 0 auto;
}

.pageActivityTitle > p {
  margin: 0;
}

.titleBlob {
  position: absolute;
  width: 21rem;
  left: 5%;
  top: -30%;
  z-index: -1;
}

.sectionContainer {
  margin: 5rem 0;

}

.dividerContainer {
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  border-bottom: 1px solid black;
  padding: 1rem 0;
  width: 20%;
}

.sectionHeader {
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: 5rem;
}

.blob {
  position: absolute;
  width: 14rem;
  /* opacity: 0.65; */
  top: -2.5rem;
  left: -6rem;
  z-index: -1;
}

.bodyContents {
  width: 85%;
  margin: 0 auto;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 0.08rem;
  margin-bottom: 1.3rem;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.sponsorTitle {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.headingMd {
  min-height: 80vh;
  background: #0d2035;
  overflow-x: hidden;
  font-size: 1.2rem;
  line-height: 1.5;
  display: flex;
  color: white;
}

.headingSm {
  font-size: 0.8rem;
  line-height: 1.5;
}

.indexHeaderSectionContainer {
  width: 50%;
  height: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerSectionBackground {
  /* font-family: 'Fredoka One', 'sans-serif'; */
  width: 26rem;
  height: 25rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  margin-top: 2rem;
  text-align: center;
  color: white;
  border-radius: 69% 31% 70% 30% / 30% 30% 70% 70%;
  background: rgb(176,40,100);
  background: radial-gradient(circle, rgba(176,40,100,1) 36%, rgba(72,122,182) 97%);
  /* background: rgb(13,32,53);
background: radial-gradient(circle, rgba(13,32,53,1) 36%, rgba(25,110,171,0.9990371148459384) 97%); */
}

.headerSectionText {
  width: 50%;
}

.headerContainer {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #262626;
  border-radius: 0 0 0.4rem 0.4rem;
  padding: 1rem;
  border: 0.12rem solid #262626;
}

.formContainer {
  min-height: 50vh;
  padding-bottom: 5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 4rem;
}

.nameInput,
.messageTextArea {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.1rem;
}

.superScript {
  font-size: 0.5rem;
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #262626;
  justify-content: space-between;
  text-align: center;
}

.modalTitle {
  font-size: 2.5rem;
}

.modalMessage {
  min-height: 30%;
  font-size: 1.2rem;
  font-family: 'Fjalla One', sans-serif;
}

.nameInput {
  height: 1.5rem;
}

.messageTextArea {
  min-height: 10rem;
}

.formLabel {
  margin-right: 0.4rem;
}

.underline {
  border-bottom: 2px solid #262626;
  /* border-bottom: 2px solid #EDEDED; */
  width: auto;
  max-width: 90%;
}

.postContainer {
  width: 44rem;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.headerInfoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  margin: 0.3rem 0;
}

.leftSection {
}

.rightSection {
}

.shareIconsContainer {
  display: flex;
  min-width: 13rem;
  max-width: 16rem;
  justify-content: space-between;
  padding-top: 0.2rem;
  justify-self: flex-end;
}

.infoIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 8px;
}

.articleContainer {
  margin-top: 2rem;
  margin-bottom: 4rem;
  background: white;
  padding: 1.5rem;
  border-radius: 0.4rem;
  color: #262626;
  height: 100%;
  border: 0.12rem solid #262626;
  overflow-y: scroll;
}

.article {
  padding-bottom: 3rem;
}

.content {
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  padding-bottom: 2rem;
  /* text-transform: lowercase; */
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}

.bodyContainer {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.questions {
  min-height: 400px;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 0 2rem 3rem;
}

.question {
  height: 30%;
  letter-spacing: 0.05em;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.questionHeader {
  margin-bottom: 0.5rem;
}

.twoOptions,
.threeOptions {
  display: flex;
  width: 12rem;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: 0.01em;
  height: 2.4rem;
}

.option, 
.oneOfThreeOptions,
.selectedOption,
.selectedOfThree {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}

.threeOptions {
  width: 28rem;
}

.oneOfThreeOptions,
.selectedOfThree {
  width: 30%;
}

.selectedOption,
.selectedOfThree {
  background: rgba(176,40,100,1);
  background: rgba(72,122,182);
  background: white;;
  color: black;
  border: 1px solid #262626;
  border-radius: 1rem;
}

.tellMeButton {
  width: 14rem;
  padding: 0.25em;
  cursor: pointer;
  font-size: 1rem;
  border: 3px solid white;
  border-radius: 1rem;
  color: white;
  background:rgba(72,122,182);
  background: rgba(176,40,100,1);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25em 0;
  transition: all 0.4s ease-in-out;
  height: 3.5rem;
}

.tellMeButton:hover {
  background: #6451b8;
}

.custom404 {
  padding: 3rem;
  font-size: 2rem;
  width: 70%;
  margin: 0 auto;
}

.contactContainer {
  padding: 3rem;
}

.breakoutSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
  padding: 0 2rem;
  margin: 2rem auto .875rem;
}

.displayContentHeaderContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.displayContentHeader {
  margin: 0;
  font-size: 5rem;
}

.displayContentHeader:hover {
  text-decoration: underline;
}

.leftHeaderContainer > a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.rightHeaderContainer {
  cursor: pointer;
}

.rightHeaderContainer > a,
.leftHeaderContainer > a {
  font-size: 4rem;
  text-decoration: none;
}

.homeIcon {
  height: 4rem;
  font-size: 2rem;
}

.seeAll {
  font-size: 0.8rem;
  margin-left: 1.5rem;
}

.leftHeaderContainer:hover .leftHeaderContainer > a {
  text-decoration: underline;
}

/* SHARED PAGE STYLE */

.TLDR {
  width: 60%;
  /* margin: 0 auto; */
  background: rgba(0,0,0,0.1);
  padding: 1rem;
  border-radius: 1rem;
}

.pageActivityName {
  color: white;
  text-align: center;
  font-size: 8rem;
  line-height: 8.5rem;
  z-index: 2;
}

.categories {
  color:white;
  z-index: 2;
}

.pageContainer {
  /* width: 100vw; */
  height: 100%;
  min-height: 100vh;
}

.infoContainer {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: 5rem;
  border-radius: 14% 86% 17% 93% / 58% 51% 69% 48%;
  /* border-radius: 2rem; */
  /* border-radius: 69% 31% 70% 30% / 30% 30% 70% 70% ; */
  /* background: rgb(176,40,100);
  background: rgb(13,32,53);*/
  background: radial-gradient(circle at 10%, rgba(13,32,53,1) 16%, rgba(25,110,171,0.9990371148459384) 87%);
  /* background: radial-gradient(circle at 10%, rgba(13,32,53,1) 36%, rgba(176,40,100,.997) 97%); */
  /* background: radial-gradient(circle at 10%, rgba(176,40,100,1) 26%, rgba(13,32,53,1) 17%); */
  /* background: radial-gradient(ellipse at bottom,  rgba(13,32,53,1) 36%, rgba(176,40,100,1) 97%); */
  
}

.infoHeader {
  font-size: 1.8rem;
  text-align: center;
  width: 85%;
  padding: 1rem;
  color: white;
  /* line-height: 3rem; */
}

.categoryOptions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
}

.categoryOption {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  text-align: center;
  width: 5rem;
  height: 5rem;
  border-radius: 69% 31% 70% 30% / 30% 30% 70% 70%;
  border-radius: 50%;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
  background: rgb(13,32,53);
  /* background: radial-gradient(circle, rgba(13,32,53,1) 36%, rgba(25,110,171,0.9990371148459384) 97%); */
}

.categoryOption > a {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
}

.categoryOption:hover > a {
  font-size: 0.95rem
}

.infoBody {
  font-size: 1.4rem;
  text-align: center;
  width: 80%;
  color: white;
}

.pageHeaderContainer {

}

.imageBanner {
  position: relative;
  width: 100%;
  min-height: 75vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: inherit;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.pageBodyContainer {
  padding: 3rem;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.pageHeader {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.pageBodyText {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
}
/* END SHARED PAGE STYLE */


/* SHOW PAGE STYLE */
.showInfoSectionContainer {
  min-height: 30vh;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.showInfoSectionHeader {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  padding-bottom: 1rem;
}

.showInfoSectionBody {
  min-height: 30vh;
  display: flex;
  justify-content: space-evenly;
}

.whereToWatch {
  display: flex;
  flex-direction: column;
}

.whereToWatch > a:visited,
.whereToWatch > a {
  font-size: 1.3rem;
  color: purple;
  text-decoration: none;
}


.seasonsTable {
  display: flex;
  flex-direction: column;
}

.tableHeader {
  font-size: 1.8rem;
}

.keysTable {
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 4rem;
  font-size: 0.7rem;
}

.keyContainer {
  display: flex;
}

.seasonContainer {
  display: flex;
  font-size: 1.2rem;
}

.seasonNumber {
  margin-right: 1rem;
}

.watchThis {
  color: green;
}

.dontWatchThis {
  color: red;
}

.mehWatchThis {
  color: orange;
}
/* END SHOW PAGE STYLE */


/* ACTIVITIES PAGE STYLE */
.activitiesContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.activities {
  width: 50%;
}

.activityOptions {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.activityOption, .selectedActivityOption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  background: gray;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}

.selectedActivityOption {
  justify-content: space-evenly;
  align-items: center;
  background: #00aeef;
  border: 1px solid black;
}

.headerInfo {
  z-index: 2;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showDetails {
  padding: 1rem 0;
  display: flex;
}
.showSpecifics {
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around;
  align-items: center; */
  padding: 1rem;
}

.icon {
  margin-right: 0.5rem;
}

.runtime {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

.showRating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 4rem;
  padding: 1rem 0;
}

.labelSection {
  width: 100%;
}

.labelSectionImg{
  width: 100%;
  color: goldenrod;
}

.ratingSection {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratingContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imdbStar,
.imdbRating {
  color: goldenrod;
}

.imdbRating {
  font-size: 1.2rem;
  font-weight: 600;
}

.subscript {
  font-size: 0.7rem;
}

.noOfVotes {

}

/* END ACTIVITIES PAGE STYLE */
@media only screen and (max-width: 1250px) {
  .infoContainer {
    width: 60%;
  }

}
@media only screen and (max-width: 850px) {
  .headingMd {
    flex-direction: column;
    justify-content: center;
  }

  .indexHeaderSectionContainer {
    display: none;
    order: -1;
    width: 100%;
    min-height: auto;
  }

  .headerSectionBackground {
    width: 10rem;
    height: 10rem;
    font-size: 1rem;
  }

  .questions {
    width: 100%;
    margin: 0 0 2rem 3rem;
  }

  .infoContainer {
    width: 80%;
  }

  .categoryOptions {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .headerInfoSection {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .postContainer {
    width: 100vw;
  }
}

@media only screen and (max-width: 500px) {
  .iframe {
    max-height: 200px;
  }

  .showInfoSectionBody {
    flex-direction: column;
  }

  .headerContainer {
    padding: 0.6rem;
  }

  .bodyContainer {
    margin: 3rem 0;
  }

  .buttonContainer {
    justify-content: flex-end;
  }

  .question {
    font-size: 1.5rem;
  }

  .headingXl {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }

  .content {
    padding-bottom: 0.5rem;;
  }

  .select {
    width: 10rem;
    margin: 0;
  }
}

.fa {
	/* width: 60px; */
	display: block;
	text-align: center;
	line-height:60px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.bounce {
  height: 4rem;
  font-size: 2rem;
  animation-name: bounce;
  backface-visibility: hidden;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
 
@-webkit-keyframes bounce {
	0%, 10%, 20%, 100% {-webkit-transform: translateY(0);}	
	5% {-webkit-transform: translateY(-30);}
	15% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 10%, 20%, 100% {-moz-transform: translateY(0);}
	5% {-moz-transform: translateY(-30px);}
	15% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 10%, 20%, 100% {-o-transform: translateY(0);}
	5% {-o-transform: translateY(-30px);}
	15% {-o-transform: translateY(-15px);}
}

@keyframes bounce {
	0%, 10%, 20%, 100% {transform: translateY(0);}
	5% {transform: translateY(-30px);}
	15% {transform: translateY(-15px);}
}