
.sponsoredContentContainer,
.nonLinkContentContainer {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 30vh;
  background: rgba(25,110,171,0.9990371148459384);
  color: white;
  cursor: pointer;
  z-index: 1;
}

.nonLinkContentContainer {
  cursor: auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: -1;
}

.contentTitle,
.bodyHeader {
  font-size: 3.2rem;
  padding: 1rem;
  z-index: 100;
  min-height: 20vh;
}

.contentBody {
  font-size: 1.8rem;
  padding: 1rem;
  min-height: 25vh;
}

.contentLink {
  text-decoration: none;
}

.bodyContainer {
  padding: 1rem 0 2rem 0;
}

.bodyHeader {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.bodyDiv {
  text-align: center;
  padding-left: 1rem;
  font-size: 1.3rem;
}